.todo-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: flex-start;
  text-align: left;
  margin: 1rem;
}

li {
  font-size: 2rem;
}

li input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 0.5rem;
}

.strike {
  text-decoration: line-through;
}

.no-items {
  margin: 1rem;
}
